@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
main {
  background: #abb08c url(/img/background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 95vh; }

main section div p {
  margin-bottom: 15px;
  color: #4b442f !important;
  font-weight: 300 !important;
  font-family: "Source Sans Pro", sans-serif !important; }

.encabezado {
  background: linear-gradient(45deg, #bfcc94, #6d6448); }

header nav .navbar-brand img:hover {
  width: 150px;
  height: 150px; }

header nav div ul--active {
  font-weight: 900; }

main .container p {
  margin-bottom: 0;
  font-family: "Source Sans Pro", sans-serif !important; }

main div .color-card {
  background-color: #3d582e96; }

.border-top {
  border-top: 4px solid #abb08c !important; }

.footer {
  background: linear-gradient(45deg, #bfcc94, #6d6448); }

div .d-flex {
  align-items: center; }

@media (min-width: 996px) {
  .container {
    max-width: 1024px; }
  header nav img {
    width: 200px;
    height: 200px; }
  header .navbar-expand-lg .container-fluid .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    font-size: 23px;
    width: 100%; }
  div h1 {
    font-size: 25px !important; }
  div p {
    font-size: 15px; } }
