@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
main {
  background: #abb08c url(/img/background.jpg) no-repeat center top;
  background-size: cover;
  min-height: 95vh; }

main section div p {
  margin-bottom: 15px;
  color: #4b442f !important;
  font-weight: 300 !important;
  font-family: "Source Sans Pro", sans-serif !important; }

main section div .tipo-texto {
  font-family: "Source Sans Pro", sans-serif !important; }

.encabezado {
  background: linear-gradient(45deg, #bfcc94, #6d6448); }

header nav .navbar-brand img:hover {
  width: 150px;
  height: 150px; }

header nav div ul--active {
  font-weight: 900; }

header nav div li .btn-hvr {
  border: 0 none;
  color: #212b23;
  cursor: pointer;
  display: inline-block;
  line-height: 1 !important;
  margin-top: 6px;
  padding: 14px;
  text-decoration: none; }

header nav div li .hvr-grow-shadow {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  vertical-align: middle; }

header nav div li .hvr-grow-shadow:hover, header nav div li .hvr-grow-shadow:focus, header nav div li .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px #222c25;
  transform: scale(1.1);
  color: #396345; }

main .contenedor-main {
  margin-right: auto;
  margin-left: auto; }
  main .contenedor-main p {
    margin-bottom: 0;
    color: #1b2413;
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 1.2rem !important; }
  main .contenedor-main .tipo-texto {
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: bold !important; }

main div .color-card {
  background-color: #3d582e96; }

.border-top {
  border-top: 4px solid #abb08c !important; }

.footer {
  background: linear-gradient(45deg, #bfcc94, #6d6448); }

div .d-flex {
  align-items: center; }

div div .color-marca-agua {
  color: #212b23; }

main section div .tipo-texto {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: bold !important; }

main section div p {
  margin-bottom: 0;
  color: #1b2413;
  font-family: "Source Sans Pro", sans-serif !important; }

main section div a .btn-tarifas {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  vertical-align: middle; }

main section div a .btn-tarifas:hover,
main section div a .hvr-grow-shadow:focus,
main section div a .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px #c5ccc7;
  transform: scale(1.1);
  color: #d0dfd4; }

main section div .btn-hvr {
  border: 0 none;
  color: #212b23;
  cursor: pointer;
  display: inline-block;
  line-height: 1 !important;
  margin-top: 6px;
  padding: 16px;
  text-decoration: none; }

main section div .hvr-grow-shadow {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  vertical-align: middle; }

main section div .hvr-grow-shadow:hover,
main section div .hvr-grow-shadow:focus,
main section div .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px #222c25;
  transform: scale(1.1);
  color: #396345; }

main div a .btn-hvr {
  border: 0 none;
  color: #212b23;
  cursor: pointer;
  display: inline-block;
  line-height: 1 !important;
  margin-top: 6px;
  padding: 16px;
  text-decoration: none; }

main div a .hvr-glow {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  vertical-align: middle; }

main div a .hvr-glow:hover,
main div a .hvr-glow:focus,
main div a .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

main div form .btn-hvr {
  border: 0 none;
  color: #212b23;
  cursor: pointer;
  display: inline-block;
  line-height: 1 !important;
  margin-top: 6px;
  padding: 16px;
  text-decoration: none; }

main div form .hvr-grow-shadow {
  backface-visibility: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  vertical-align: middle; }

main div form .hvr-grow-shadow:hover,
main div form .hvr-grow-shadow:focus,
main div form .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px #222c25;
  transform: scale(1.1);
  color: #adc4b4; }

main section div .tipo-texto {
  font-size: 1.5rem; }

main section div .hvr-grow-shadow {
  backface-visibility: hidden;
  box-shadow: 0 0 0px;
  display: inline-block;
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  vertical-align: middle; }

main section div .hvr-grow-shadow:hover,
main section div .hvr-grow-shadow:focus,
main section div .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px #222c2500;
  transform: scale(2.2);
  color: #fdfdfd; }

@media (min-width: 768px) {
  .container {
    max-width: 1024px; }
  header nav img {
    width: 200px;
    height: 200px; }
  div h1 {
    font-size: 25px !important; }
  div p {
    font-size: 15px; } }

@media (min-width: 996px) {
  .container {
    max-width: 1024px; }
  header nav img {
    width: 200px;
    height: 200px; }
  header .navbar-expand-lg .container-fluid .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    font-size: 23px;
    width: 100%; }
  div h1 {
    font-size: 25px !important; }
  div p {
    font-size: 15px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 1440px; }
  header nav img {
    width: 200px;
    height: 200px; }
  header .navbar-expand-lg .container-fluid .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    font-size: 23px;
    width: 100%; }
  div h1 {
    font-size: 25px !important; }
  div p {
    font-size: 15px; } }
