// extend

%estilo-main {
  background: $background-main;
  background-size: $background-size;
  min-height: $main-size;
}

%estilo-parrafo {
  margin-bottom: 15px;
  color: #4b442f !important;
  font-weight: 300 !important;
  font-family: $tipografia !important;
}

%tipo-texto {
  font-family: $tipografia !important;
  font-weight: bold !important;
  line-height: 45px;
}

%btn-hvr {
  border: 0 none;
  color: $color-nav-item;
  cursor: pointer;
  display: inline-block;
  line-height: 1 !important;
  margin-top: 6px;
  padding: 16px;
  text-decoration: none;
}

// mixin

@mixin hover {
  width: $ancho-hover;
  height: $largo-hover;
}
