// VARIABLES header

$gradiente: linear-gradient(45deg, #bfcc94, #6d6448);
$ancho-hover: 150px;
$largo-hover: $ancho-hover;

// VARIABLES main

$background-main: #abb08c url(/img/background.jpg) no-repeat center top;
$background-size: cover;
$main-size: 95vh;
$color-cards: #3d582e96;

// VARIABLES footer


  

