.border-top {
  border-top: 4px solid $color-borde !important;
}

.footer {
  background: $gradiente;
}

div {
  .d-flex {
    display: flex!important;
    justify-content: space-between;
    margin: 0 auto;
  }
}
