main {
  @extend %estilo-main;

  .container {
    p {
      margin-bottom: 0;
      font-family: $tipografia !important;
    }
  }

  section {
    div {
      p {
        @extend %estilo-parrafo;
      }
    }
  }

  div {
    .color-card {
      background-color: $color-cards;
    }
  }
}
