main {
  @extend %estilo-main;

  .contenedor-main {
    p {
      margin-bottom: 0;
      color: $color-p;
      font-family: $tipografia !important;
      font-size: 1.2rem!important;
    }
    margin-right: auto;
    margin-left: auto;

    .tipo-texto {
      font-family: $tipografia !important;
      font-weight: bold !important;
    }

    // @extend .tipo-texto;
  }

  section {
    div {
      p {
        @extend %estilo-parrafo;
      }
    }
  }

  div {
    .color-card {
      background-color: $color-cards;
    }
  }
}
